doctype html
html
  head
    meta(charset="utf-8")
    title=htmlWebpackPlugin.options.title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    each item in htmlWebpackPlugin.files.css
      link(rel="stylesheet" href=item)
  body
    #react-root
  each item in htmlWebpackPlugin.files.js
    if item.indexOf('style') == -1
      script(src=item)
